*{
    margin: 0px;
    border:none;
    padding: 0px;;
    text-align: center;
    box-sizing: border-box;
}
.header{
    position: relative;
    width: auto;
    height: 80px;
    margin: auto;
    background-color: #000000;
}
.content{
    width: 1100px;
    height: auto;
    margin: auto;
    text-align: center;
}
.content-top{
    width: 100%;
    height: 405px;
    margin: 10px auto;
    text-align: center;
}
.center-left {
    display: inline-block;
    float: left;
    width: 21.5%;
    height:100%;
    margin: auto 0.5%;
    background-color: #fffec0;
}
.center-right{
    display: block;
    width: 21.5%;
    height:100%;
    margin:auto 0.5%;
    background-color: #abffdf;
    float: left;
}
.center{
    width: 55%;
    height: 100%;
    margin:auto;
    text-align: center;
    float: left;
}

iframe{
    width: 100%;
    height: 100%;
    padding-top: 2px;;
}
.content-bottom{
    width: 1089px;
    height: 800px;
    margin:auto 5.5px;
    background-color: #c6cbeb;
    clear: left;
}
.footer{
    position: relative;
    width: auto;
    height: 80px;
    margin : 10px auto 0px;
    background-color: #000000;
}

/*移动端 手机&平板*/
/*测试了几部虚拟机和手机 返回的屏幕宽度都是980px  表示被搞醉了  屏幕大小明明就不一样嘛...*/
/*响应式只支持屏幕屏幕小于980px的设备，对PC端即使缩放浏览器的大小也不支持响应式，原因是本网页采用了
 iframe，如果在PC端支持响应式除非js途径 否则iframe对响应式的支持不好，为什么呢↓↓↓
 如果强行设置了iframe的大小,iframe内的网页大小并不变,不仅无法显示iframe内的全部内容,还会出现scroll影响美观
 出于这种情况考虑响应式实际上只支持两种，1：移动端980px，2：PC端1100px*/
@media screen and (max-device-width: 980px){    /*  媒体查询 注意这边是max-device-width 不是max-width  */
    .center-left{
        display: none;
    }
    .center-right{
        float: left;
        width: 36%;
        margin-left: 1%;
    }
    .header,
    .footer{
        width: 100%;
        height: 80px;
    }
    .content{
        width: 100%;
        height:100%;
    }
    .center{
        width:61%;
        height: 100%;
        margin-left:1%;
        /*text-align: left;*/
    }
    .content-top {
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    .content-bottom{
        width:98%;
        margin: auto;
    }
}