
body{
    background-color: #d4e1f3;
}
.container{
    width: auto;
    height: auto;
    margin: auto;
}
.content{
    width: 440px;
    height: 340px;
    margin: 100px auto;
    padding: 1px;
    text-align: center;
    background-color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.form-panel{
    width: 400px;
    height: 300px;
    position: relative;
    margin: 20px auto;
    background-color: #3f51b4;
    overflow: hidden;
}
.form-header{
    width: 100%;
    height: 20%;
}
.form-header >b{
    line-height: 60px;
    font-size: 15px;
    color: white;
}
.form-body{
    width: 60%;
    height: 60%;
    margin: auto;
}
.form-body label{
    position: absolute;
    bottom: 8px;
    left: -11px;
    font-size: x-small;
    opacity: 0.8;
    color: white;
    display: block;
    text-align: left;
    cursor: pointer;
}

.open-label{        /*输入框获取焦点时label标签动画*/
    -webkit-animation: open-label 0.5s steps(20,start) forwards;
    -moz-animation: open-label 0.5s steps(20,start) forwards;
    -o-animation: open-label 0.5s steps(20,start) forwards;
    animation: open-label 0.5s steps(20,start) forwards;
}
@keyframes open-label{
    0%{
        bottom: 8px;
    }
    60%{
        bottom: 55px;
    }
    100%{
        font-size: xx-small;
        font-weight: 200;
        opacity: 0.65;
        bottom: 46px;
    }
}
.close-label{       /*输入框失去焦点时label标签动画*/
    -webkit-animation: close-label 0.3s steps(20,start) forwards;
    -moz-animation: close-label 0.3s steps(20,start) forwards;
    -o-animation: close-label 0.3s steps(20,start) forwards;
    animation: close-label 0.3s steps(20,start) forwards;
}
@keyframes close-label{
    from{
        bottom: 48px;
    }
    to{
        font-size: x-small;
        font-weight: 200;
        bottom: 8px;
    }
}
.form-body .input{
    width: 90%;
    height: 60px;
    margin: auto;
    position: relative;
}
.form-body .input-panel{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 20px;
    cursor: pointer;
}
.form-body #email-id,
.form-body #email-pwd
{
    width: 100%;
    height: 2px;
    padding-left: 32px;
    margin-left: -16px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #484848;
}
.open-id{       /*id输入框获取焦点时动画 高度增加+显示图标*/
    -webkit-animation: open-id 0.3s steps(20,start) forwards;
    -moz-animation: open-id 0.3s steps(20,start) forwards;
    -o-animation: open-id 0.3s steps(20,start) forwards;
    animation: open-id 0.3s steps(20,start) forwards;
}
@keyframes open-id{
    from{
        height: 2px;
    }
    to{
        height: 40px;
        background: white url(ico/id_ico.png) no-repeat left center;
        -moz-background-image: url(ico/id_ico.png);
        -webkit-background-image: url(ico/id_ico.png);
        -o-background-image: url(ico/id_ico.png);
    }
}
.open-pwd{       /*pwd输入框获取焦点时动画 高度增加+显示图标*/
    animation: open-pwd 0.3s steps(20,start) forwards;
    -webkit-animation: open-pwd 0.3s steps(20,start) forwards;
    -moz-animation: open-pwd 0.3s steps(20,start) forwards;
    -o-animation: open-pwd 0.3s steps(20,start) forwards;
}
@keyframes open-pwd{
    from{
        height: 2px;
    }
    to{
        height: 40px;
        background:white url(ico/pwd_ico.png) no-repeat left center;
        -moz-background-image: url(ico/id_ico.png);
        -webkit-background-image: url(ico/id_ico.png);
        -o-background-image: url(ico/id_ico.png);
    }
}
.close-input{         /*输入框失去焦点时动画*/
    animation: close-input 0.3s steps(20,start) forwards;
    -webkit-animation: close-input 0.3s steps(20,start) forwards;
    -moz-animation: close-input 0.3s steps(20,start) forwards;
    -o-animation: close-input 0.3s steps(20,start) forwards;
}
@keyframes close-input{
    from{
        height: 40px;
    }
    to{
        height: 2px;
    }
}
.form-body .tip{        /*忘记密码的提示文字*/
    margin-top: -5px;
    text-align: right;
    font-size: xx-small;
    font-weight: 800;
    opacity: 0.6;
}
.form-body .tip a{
    color: #161c3c;
    text-decoration: none;
}
.form-body .tip a:visited{
    color: #161c3c;
}
.form-body .tip a:active{
    color: white;
}
.form-footer{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: #324191;
}
.form-footer input[type=submit]{
    width: 50%;
    height: 80%;
    margin: 5px;
    font-size: 20px;
    background-color: #324191;
    border: none;
    color: white;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition:  all 0.3s;
    -o-transition:  all 0.3s;
    -webkit-transition:  all 0.3s;
}
.form-footer input[type=submit]:active{
    font-size: xx-small;
    opacity: 0.6;
    color: #828690;
}

.submit-wrong{     /*表单验证失败*/
    position: relative;
    bottom: 20px;
    width: 100%;
    height: 50px;
    background-color: #d93517;
    color: white;
    text-align: center;
    display: none;
}
.submit-wrong.wrong{       /*表单验证失败动画*/
    display: block;
    -webkit-animation: wrong 6s steps(20,start) forwards;
    -mos-animation: wrong 6s steps(20,start) forwards;
    -o-animation: wrong 6s steps(20,start) forwards;
    animation: wrong 6s steps(20,start) forwards;
}
@keyframes wrong {
    0%{
        opacity: 0.2;
        bottom: 0px;
    }
    30%{
        opacity: 0.8;
        bottom: 50px;
    }
    70%{
        opacity: 0.9;
        bottom: 50px;
    }
    100%{
        opacity: 0;
        bottom: 0px;
    }
}
.submit-success{        /*表单验证成功*/
    position: relative;
    width: 398px;
    height: 298px;
    background:  #3f51b4;
    padding: 1px;
    z-index: 2;
    display: none;
}
.submit-success .check-mark{        /*验证成功时显示的对勾*/
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: white;
    margin: 120px auto;
    display: none;
}
.submit-success.success{        /*表单验证成功时动画*/
    display: block;
    -webkit-animation: success 0.4s steps(20,start) forwards;
    -mos-animation: success 0.4s steps(20,start) forwards;
    -o-animation: success 0.4s steps(20,start) forwards;
    animation: success 0.4s steps(20,start) forwards;
}
@keyframes success{
    0%{
        bottom: 0px;
    }
    100%{
        bottom: 300px;
    }
}
.submit-success .check-mark.success{        /*表单验证成功时对勾的动画*/
    display: block;
    -webkit-animation: success-mark 0.8s steps(20,start) forwards;
    -mos-animation: success-mark 0.8s steps(20,start) forwards;
    -o-animation: success-mark 0.8s steps(20,start) forwards;
    animation: success-mark 0.8s steps(20,start) forwards;
}
@keyframes success-mark{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*响应式  媒体查询*/
@media screen  and (min-width: 400px) and (max-width: 450px) {
    .content{
        width: 390px;
        height: 300px;
    }
    .form-panel{
        width: 360px;
        height: 270px;
        margin: 15px;
    }
    .submit-success{
        width: 358px;
        height: 300px;
    }
}
@media screen and (min-width: 301px) and (max-width: 399px) {
    .content{
        width: 340px;
        height: 260px;
    }
    .form-panel{
        width: 320px;
        height: 240px;
        margin: 10px;
    }
    .submit-success{
        width: 318px;
        height: 300px;
    }
    .form-body .tip{
        margin-top: -15px;
        width: 240px;
    }
    .form-footer #submit{
        height: 30px;
        margin-top: 5px;
        line-height: 30px;
    }
}
@media screen  and (max-width: 300px) {
    .content{
        width: 260px;
    }
    .form-panel{
        width: 240px;
        margin: 10px;
    }
    .submit-success{
        width: 238px;
    }
}