*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.lunbo-container{
    width: 600px;
    height: 400px;
    position: relative;
    margin: 100px auto;
}
.lunbo-container>.image-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.image-container>.img-ul{
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
.image-container li{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #ff9999;
    display: none;
    /*display: list-item;*/

}
img{
    width: 600px;
    height: 400px;
}
.image-container .img-ul .show{
    display: list-item;
}

.btn-container>.btn{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background-color: black;
    opacity: 0.6;
    border:none;
    color: white;
    font-size: 35px;
    text-align: center;
    line-height: 60px;
    display: none;
}
.lunbo-container:hover .btn{
    display: inline-block;
    cursor: pointer;
}
.btn-left{
    left: 0px;
}
.btn-right{
    right: 0px;
}
.num-container{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 20px;
    text-align: center;
}
.num-container>.num-ul>.num-list{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.6;
    margin: 3px;
    cursor: pointer;
}
.num-container>.num-ul .active{
    background-color: red;
}

/*切换特效*/
.img-ul .effect-cardX-in{
    position: absolute;
    display: list-item;
    animation: cardX-in 1s ease-in forwards;
    -webkit-animation: cardX-in steps(50,start) 1s forwards;
    -moz-animation: cardX-in 1s ease-in forwards;
    -o-animation: cardX-in 1s ease-in forwards;
}
.image-container .effect-cardX-out{
    position: absolute;
    display: list-item;
    animation: cardX-out 1s ease-in forwards;
    -webkit-animation: cardX-out steps(50,start) 1s forwards;
    -moz-animation: cardX-out 1s ease-in forwards;
    -o-animation:  cardX-out 1s ease-in forwards;
}
.img-ul .effect-slideX2{

}
@keyframes cardX-in{
    from{
        right: 100%;
        width: 80px;
        opacity: 0.6;
        /*height: 80px;;*/
    }

    to{
        opacity: 1;
        right: 0%;
    }
}

@keyframes cardX-out{
    from{
        left: 0%;
        opacity: 1;
    }
    to{
        opacity: 0.5;
        left: 100%;
        z-index: -1;
    }
    /*100%{*/
        /*left: 100%;*/
        /*opacity: 0;*/
    /*}*/
}

.img-ul .effect-cardX-right-in{
    position: absolute;
    display: list-item;
    animation: cardX-right-in 1s ease-in forwards;
    -webkit-animation: cardX-right-in steps(100,start) 1s forwards;
    -moz-animation: cardX-right-in 1s ease-in forwards;
    -o-animation: cardX-right-in 1s ease-in forwards;
}
.image-container .effect-cardX-right-out{
    position: absolute;
    display: list-item;
    animation: cardX-right-out 1s ease-in forwards;
    -webkit-animation: cardX-right-out steps(100,start) 1s forwards;
    -moz-animation: cardX-out 1s ease-in forwards;
    -o-animation:  cardX-right-out 1s ease-in forwards;
}

@keyframes cardX-right-in{
    from{
        left: 100%;
        width: 80px;
        opacity: 0.6;
        /*height: 80px;;*/
    }

    to{
        opacity: 1;
        left: 0%;
    }
}

@keyframes cardX-right-out{
    from{
        right: 0%;
        opacity: 1;
    }
    to{
        right:100%;
        opacity: 0.5;
        z-index: -1;
    }
}

.image-container .effect-fade{
    display: none;
}


