.lunbo-container{
    width: 400px;
    height:200px;
}
.container{
    width:100%;
    position: relative;
    height: 400px;;
    margin-top:10%;
    border: 1px solid black;
    text-align: center;
}
.container1{
    width:30%;
    height:100%;
    border: 1px black outset;
    position: relative;
    margin:1%;
    display: inline-block;
}
.container2{
    width:30%;
    margin:1%;
    height:100%;
    border: 1px black outset;
    position: relative;
    display: inline-block;
}
.container3{
    width:30%;
    margin:1%;
    height: 100%;
    border: 1px black outset;
    position: relative;
    display: inline-block;
}