*{
    border: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header{
    width: 100%;
    height: 80px;
    margin: 0px 0px  10px ;
    overflow: hidden;
}
.navbar{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 5px;
}
.navbar-left{
    float: left;
}
.navbar-right{
    float: right;
    display: inline-block;
}
.navbar-left span{
    font-size: 30px;
    line-height: 80px;
    margin-left: 50px;
    font-family: "幼圆";
    color: white;
}
.navbar-right input[type=search]{
    width: 200px;
    height: 40px;
    margin: 20px 0px;
    border: 1px solid #ff0a01;
    border-radius: 5px;
}
.navbar-right input[type=submit]{
    width: 100px;
    height: 40px;
    margin: 20px 50px 20px 0px;
    background-color: red;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.container{
    width: 1100px;
    height:auto;
    text-align: center;
    clear: both;
    margin: auto;
    font-family: "幼圆";
}
.header-back{
    width: 100%;
    height: 500px;
    position: absolute;
    top: -10px;
    left: 0px;
}
.lunbo-header{
    width: 90%;
    height: 300px;
    margin: 360px auto 30px;
    opacity: 0.8;
}
.lunbo-container li{
    width: 100%;
    height:100%;
}
a{
    text-decoration: none;
}
.image{
    width: 100%;
    height: 100%;
}
.img-head{
    font-size: 80px;
    color: white;
    padding: 20px;;
}
.img-content{
    font-size: 40px;
    color: white;
    margin: 50px;;
}
.separate{
    width: 90%;
    height: 2px;
    background-color: #adadad;
    margin: 20px auto;
}
.panel{
    width: 90%;
    height:auto;
    position: relative;
    border: 2px solid #adadad;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    clear: both;
    overflow: hidden;
}
.panel-header{
    border-radius: 5px;
    background-color: #d9d9d9;
    height: 50px;
}
.panel-header-span{
    color: white;
    height: 100%;
    line-height: 50px;
    font-size: 30px;
    margin-left: 20px;
}
.panel-lunbo{
    width: 800px;
    height: 30px;
    margin: auto;
    line-height: 30px;
    color: #464243;
    font-size: 25px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
.inner-header{
    width: 30%;
    text-align: center;
    height: 40px;
    margin-left: 10px;
    border-radius:0px;
    text-align: left;
    box-shadow: 5px 5px 5px #b9b9b9;
}
.inner-span{
    font-size: 20px;
    line-height: 40px;
}
.panel-body{
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    margin: 10px 0;
}
.lunbo-normal{
    width: 800px;
    margin: auto;
}
.lunbo-special-1,
.lunbo-special-2
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.lunbo-special-1 img
{
    border-radius: 50%;
}
.lunbo-special-2 img
{
    border-radius: 100px;
}
.lunbo-special-2 .btn{
    background-color: #f30a00;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0px;
    line-height: 30px;
}
.lunbo-special-2 .btn-left{
    background-image: url(../src/btn_ico/btn_left_mini.png);
    background-repeat: no-repeat;
}
.lunbo-special-2 .btn-right{
    background-image: url(../src/btn_ico/btn_right_mini.png);
    background-repeat: no-repeat;
}
#lunbo-contianer4 .num-container{
    bottom: -30px;
}
.lunbo-left,
.lunbo-right{
    width:48%;
    display: inline-block;
    margin:auto;
}
.code-text{
    background-color: rgba(200, 208, 208, 0.39);
    font-size: 15px;
    min-width:80%;
    text-align: left;
    margin: 20px;
    border-radius: 10px;
    border:none;
    padding: 5px;
    overflow: scroll;
}
.introduce{
    background-color: #e9ecec;
    height: auto;
    width: 760px;
    margin:auto;
    padding: 20px;
    color: white;
    font-family: "幼圆";
    font-size: 16px;
}
.test-btn{
    display: inline-block;
    width: 150px;
    height: 30px;
    margin:-10px auto 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.test-btn:hover{
    background-color: #f37a64;
}
.code-1{
    min-height:220px;
}
.code-2{
    min-height:120px;
}
.code-3{
    min-height: 380px;
}
.code-4{
    min-height:350px;
}
.code-5{
    min-height:230px;
}
.text-left{
    text-align: left;
    margin-left: 10px;
}
.text-right{
    color: #ecaea2;
}
.higher{
    height: 1.5em;
    line-height: 1.5em;
    font-weight: 800;

    margin: 10px;;
}
.blue{
    background-color: #adc3f3;
}
.red{
    background-color: #f37a64;
}
.green{
    background-color: #87f3b7;
}
.orange{
    background-color: #ffce58;
}
.black{
    background-color: #575754;
}


@media screen and (max-device-width: 980px) {
    .container{
        width: 960px;
    }
}
